/MrRobot/!
/MrRobot/packages
/MrRobot/.vs
/MrRobot/bin
/MrRobot/obj
/RobotAPI/bin/Debug
/RobotAPI/obj/Debug
/InnoSetup/.vs/InnoSetup
/InnoSetup/obj/Debug
/RobotAPI/bin/Release
/RobotAPI/obj/Release
/MrRobot/log.txt
/RobotAPI/.vs
